:root {
    /* Colour variables */
    --light-grey: #f4f4f4;
    --yellow: #eebd1e;
    --cyan: #15d3d3;
    --red: #d43737;
    --mid-red: #d51b1b;
    --dark-red: #b60c0c;
    --off-white: #e0cccc;
}

* {
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Press Start 2P', cursive; */
    color: var(--light-grey);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.start-screen-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
}

.start-screen-container.show {
    pointer-events: auto;
    opacity: 1;
}

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vw 5vh;
    max-width: 100;
}

.main-heading-text {
    font-family: 'Press Start 2P', monospace;
    font-size: 7rem;
    text-align: center;
    margin-bottom: 10vh;
}

#start-button,
#player-name {
    background-color: black;
    border: none;
    font-size: 40px;
}

#player-name {
    border-bottom: 2px solid var(--light-grey);
    padding-left: 1vw;
    padding-bottom: 1vh;
    width: 288px;
    margin-bottom: 3vh;
    outline: none;
}

#start-button {
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.5rem;
    min-height: 57px;
    min-width: 324px;
}

#start-button:hover {
    font-style: italic;
}